.vscode
.ipynb_checkpoints
*.log
.cache
build/
dist/
.eggs/
data/
output/
*/__pycache__/
*/__pycache__/*
*.pyc
__pycache__/
unit_test/
.cache/
cache/
config/olds
src/inference.py
wandb/
analysis/
debug*/
